.thumb {
	display:inline-block;
	margin:0 0 15px 15px;
	width:120px;
	height:120px;
	border-radius:60px;
	background-position:center center;
	background-repeat: no-repeat;
	box-shadow:inset 0px 0px 20px rgba(0,0,0,0.3);
	-webkit-transition:all 0.5s;
	   -moz-transition:all 0.5s;
	     -o-transition:all 0.5s;
	        transition:all 0.5s;
	    -ms-transition:all 0.5s;
}
.thumb:hover {
	border-radius:2px;
}
.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}